<% provide(:title, 'contact') %>
<div class="jumbotron">
	<h1>StaticPages#contact</h1>
	<p>Find me in app/views/static_pages/contact.html.erb</p>
	<center>
		<%= link_to 'test', '#', class: 'btn btn-info btn-lg' %>
	</center>
</div>
